@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

:root {
    --a: #9DB2BF;
    --b: #526D82;
    --c: #27374D;
    --d: #DDE6ED;
    --e: #456072;

    color: var(--d);
    font-family: Inter;
}

body {
    display: grid;
    grid: 2fr 12fr 1fr / 1fr 4fr;
    margin: 0;
    height: 100vh;
}

header {
    background-color: var(--c);
    grid-area: 1 / 1 / 1 / 3;
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    border-bottom: 3px solid #1f2938;
}

header h1 {
    margin: 0;
    font-size: 3rem;
}

.sidebar {
    background-color: var(--b);
    grid-area: 2 / 1 / 3 / 1;
    padding: 2rem;
    border-right: 3px solid #4d6577;
}

.tab {
    display: flex;
    gap: .4rem;
    align-items: center;
    font-size: 1.25rem;
    height: 3rem;
    padding-left: 1rem;
    border-radius: .75rem;
    background-color: none;
    transition: 300ms ease-in-out;
    cursor: pointer;
}

.tab:hover {
    background-color: var(--e);
}

.tab img {
    filter: invert(94%) sepia(12%) saturate(163%) hue-rotate(168deg) brightness(97%) contrast(91%);
}

.projects h2 {
    font-size: 1.75rem;
}

.main {
    background-color: var(--a);
    grid-area: 2 / 2 / 2 / 2;
    padding: 2rem 6rem;
}

.main h2 {
    font-size: 2rem;
    color: var(--b);
}

footer {
    background-color: var(--c);
    grid-area: 3 / 1 / 3 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.25rem;
    border-top: 3px solid #1f2938;
}

.task {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: rgb(188, 206, 222);
    padding: 1rem;
    padding-left: 0;
    border-radius: .7rem;
    width: 60rem;
    height: 1.5rem;
    transition: 200ms ease-in-out;
    box-shadow: 1px 1px 2px var(--c);
    margin-bottom: 1rem;
}

.task p {
    margin: 0;
    margin-left: 1rem;
    color: var(--c);
    overflow: hidden;
    max-width: 85%;
    font-size: 1.1rem;
}

.task .date {
    margin-left: auto;
}

.add  {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: .6rem;
    color: var(--c);
    font-size: 1.2rem;
    width: 60rem;
    border-radius: 1rem;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

.add:hover {
    background-color: #526d824b;
}

.add p {
    margin: 0;
}

.plus {
    filter: invert(17%) sepia(51%) saturate(489%) hue-rotate(174deg) brightness(93%) contrast(89%);
    height: 1.5rem;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    transition: 200ms ease-in-out;
}

.overlay.active {
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: all;
}

.task-popup {
    position: fixed;
    height: 24rem;
    width: 48rem;
    padding: 2rem;
    background-color: var(--d);
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0%);
    transition: 200ms ease-in-out;
    z-index: 1;
    border-radius: 1%;
    border: 2px solid var(--b);
}

.task-popup.active {
    transform: translateX(-50%) translateY(-50%) scale(100%);
}

.task-popup h1 {
    color: var(--b);
    margin-top: .5rem;
}

.task-popup * {
    color: var(--c);
}

.task-popup form {
    display: grid;
    grid: 1fr 3fr 1fr / 2fr 1fr;
    gap: 1rem;
}

.task-popup form div {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.task-popup > div {
    display: flex;
    align-items: flex-start;
}

.task-close-button {
    margin-left: auto;
    color: var(--c);
    background: none;
    border-radius: 100%;
    line-height: 2rem;
    border: none;
    height: 2rem;
    width: 2rem;
    font-size: 1.7rem;
}

.task-close-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#description {
    height: 100%;
    width: 90%;
}

#name {
    max-width: 60%;
    min-width: 5rem;
}

.task-input {
    transition: 100ms ease-in-out;
}

.task-input:focus {
    outline-color: rgba(35, 123, 230, 0.516);
    outline-offset: 2px;
}

.task-input.error {
    border: 3px solid rgba(238, 42, 42, 0.571);
}

.priority {
    width: 1rem;
    height: 5rem;
}

.p1 {
    background-color: #b46f6f;
}

.p2 {
    background-color: #d1ce7f;
}

.p3 {
    background-color: #518a51;
}

.pnone {
    background-color: rgb(179, 179, 179);
}