@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

:root {
    --a: #9DB2BF;
    --b: #526D82;
    --c: #27374D;
    --d: #DDE6ED;

    color: var(--d);
    font-family: Inter;
}

body {
    display: grid;
    grid: 2fr 12fr 1fr / 1fr 4fr;
    margin: 0;
    height: 100vh;
}

header {
    background-color: var(--c);
    grid-area: 1 / 1 / 1 / 3;
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    border-bottom: 3px solid #1f2938;
}

header h1 {
    margin: 0;
    font-size: 3rem;
}

.sidebar {
    background-color: var(--b);
    grid-area: 2 / 1 / 3 / 1;
    padding: 2rem;
    border-right: 3px solid #4d6577;
}

.tab {
    display: flex;
    gap: .4rem;
    align-items: center;
    font-size: 1.25rem;
    height: 3rem;
    padding-left: 1rem;
    border-radius: .75rem;
    background-color: none;
    transition: 200ms ease-in-out;
}

.tab:hover {
    background-color: #456072;
}

.tab img {
    filter: invert(94%) sepia(12%) saturate(163%) hue-rotate(168deg) brightness(97%) contrast(91%);
}

.projects h2 {
    font-size: 1.75rem;
}

.main {
    background-color: var(--a);
    grid-area: 2 / 2 / 2 / 2;
    padding: 2rem 6rem;
}

.main h2 {
    font-size: 2rem;
}

footer {
    background-color: var(--c);
    grid-area: 3 / 1 / 3 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.25rem;
    border-top: 3px solid #1f2938;
}